body {
  font-family: "Proza Libre", sans-serif;
}

label,
input,
textarea {
  display: block;
}

input {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #b6b6b6;
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  border: 0.1rem solid #b6b6b6;
}

input:focus,
textarea:focus {
  outline: 0.1rem solid #823fc4;
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.purple-back {
  background-color: #562b81;
}

.white-font {
  color: white;
}

.bold {
  font-weight: bold;
}

.pd-b {
  padding-bottom: 0.5rem;
}

.pd-t {
  padding-top: 1.5rem;
}

.pd-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin {
  margin: 0.5rem 0;
}

.text-right {
  text-align: right;
}

.save-button {
  color: white;
  background-color: #562b81;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
}

.pd-0 {
  padding: 0;
}

.margin-t0 {
  margin-top: 0;
}

ul {
  margin-top: 0;
  padding: 0;
}
