body {
  font-family: "Proza Libre", sans-serif;
  background-color: #f0f0f0;
}

label,
input,
textarea {
  display: block;
}

input {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #b6b6b6;
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  border: 0.1rem solid #b6b6b6;
}

input:focus,
textarea:focus {
  outline: 0.1rem solid #823fc4;
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 0.3rem;
}

a {
  padding: 0 1rem;
  text-decoration: none;
  font-size: 0.85rem;
}

.purple-back {
  background-color: #562b81;
}

.white-font {
  color: white;
}

.bold {
  font-weight: bold;
}

.pd-b {
  padding-bottom: 0.5rem;
}

.pd-t {
  padding-top: 1.5rem;
}

.pd-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pd-tb-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pd-r {
  padding-right: 2rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.save-button {
  color: white;
  background-color: #562b81;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
}

a.fake-button {
  color: white;
  background-color: #562b81;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
}

ul {
  margin-top: 0;
  padding: 0;
}

.pos-abs {
  position: absolute;
  right: 0.3rem;
}

.pos-rel {
  position: relative;
}

.pen {
  color: #823fc4;
  font-size: 1.2rem;
}

.pen:hover {
  cursor: pointer;
  color: #562b81;
}
